@use "variables";

@use "bulma/sass" with (
  $family-primary: '"Nunito", sans-serif',
  $white: variables.$white,
  $black: variables.$black,
  $primary: variables.$primary,
  $text: variables.$text,
  $background: variables.$background,
  $link: variables.$link,
  $radius: variables.$radius,
  $tablet: variables.$tablet,
  $input-background-l: 100%,
  $input-color-l: 20%,
  $widescreen: variables.$widescreen
);

@use "sections";
@use "layout";
